/*
  Fonts
  To use Google Fonts locally, use -
  https://www.axllent.org/code/google-font-downloader/
*/

@font-face {
  font-family: 'Actor Regular';
  src: url('/fonts/Actor-Regular/Actor-Regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Actor-Regular/Actor-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Actor-Regular/Actor-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Actor-Regular/Actor-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/Actor-Regular/Actor-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Actor-Regular/Actor-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Inconsolata';
  src: url('/fonts/Inconsolata-Regular/Inconsolata-Regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Inconsolata-Regular/Inconsolata-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Inconsolata-Regular/Inconsolata-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Inconsolata-Regular/Inconsolata-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/Inconsolata-Regular/Inconsolata-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Inconsolata-Regular/Inconsolata-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/Open-Sans-Regular/Open-Sans-Regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Open-Sans-Regular/Open-Sans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Open-Sans-Regular/Open-Sans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Open-Sans-Regular/Open-Sans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/Open-Sans-Regular/Open-Sans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Open-Sans-Regular/Open-Sans-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}
