---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <!-- <p class="post-title"> -->
      <h2><a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }} 
      </a></h2>
      <!-- <h3 class="date-format">{{ post.date | date_to_string }}</h3> -->
      <p style="display:inline">{{ post.content | split:'<!--break-->' | first }}</p>
      {% if post.content contains '<!--break-->' %}
        <a href="{{ post.url }}">read more</a>
      {% endif %}
  </div>
  {% endfor %}
</div>

