<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ site.name }}</title>

  <!-- Icons -->
  <link rel="shortcut icon" href="{{site.baseurl}}/assets/images/d.png" type="image/png">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Search Headers -->
  <meta name="description" content="Tech, Gossip and Musings from Dwarak's Diary">
  <meta name="keywords" content="blog, dwarak, dtsdwarak">
  <meta name="author" content="Dwarak">
  <!-- Search Headers End -->

  <link href="{{ site.baseurl }}/assets/css/site.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header id="top">
    <span id="name">
      <a class="regular" href="/">Dwarak's Weblog</a>
    </span>
    <nav>
      <a href="{{ site.baseurl }}/about/">About</a> |
      <a href="{{ site.baseurl }}/books/">Books</a> |
      <a href="{{ site.baseurl }}/papers/">Papers</a> |
      <a href="{{ site.baseurl }}/feed.xml">RSS</a>
    </nav>
  </header>
</body>