<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  {% if site.enforce_ssl %}
  <!--
    redirect users to the https version of the website.
    but: only check when on the production domain, as set in _config.yml.
   -->
  <script type="text/javascript">
    var enforce = "{{ site.enforce_ssl }}";
    if ((enforce == window.location.host) && (window.location.protocol != "https:"))
      window.location = window.location.toString().replace(/^http:/, "https:");
  </script>

  {% endif %}

<!-- Search Headers -->
  <meta name="description" content="Tech, Gossip and Musings from Dwarak's Diary">
  <meta name="keywords" content="blog, dwarak, dtsdwarak">
  <meta name="author" content="Dwarak">
  <!-- Search Headers End -->

  <!-- Facebook Headers-->
  <meta property="og:title" content="{{ page.title }}"> 
  <meta property="og:description" content="Tech, Gossip and Musings from Dwarak's Diary"> 
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:image" content="https://lh4.googleusercontent.com/-vQLVz-WbNzI/UtaLgPfo0aI/AAAAAAAAC3M/A1J2kerMSiA/w592-h591-no/dwarak.jpg">
  <meta property="og:site_name" content="Dwarak's Blog">
  <!-- Facebook Headers Ends -->

  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@dtsdwarak">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="Tech, Gossip and Musings from Dwarak's Diary">
  <meta name="twitter:creator" content="@dtsdwarak">
  <meta name="twitter:image:src" content="https://lh4.googleusercontent.com/-vQLVz-WbNzI/UtaLgPfo0aI/AAAAAAAAC3M/A1J2kerMSiA/w592-h591-no/dwarak.jpg">

  <!-- Schema.org for Google Plus -->
  <meta itemprop="name" content="Dwarak's Blog">
  <meta itemprop="description" content="{{ page.title }}">
  <meta itemprop="image" content="https://lh4.googleusercontent.com/-vQLVz-WbNzI/UtaLgPfo0aI/AAAAAAAAC3M/A1J2kerMSiA/w592-h591-no/dwarak.jpg"> 


  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/lanyon.css">

  <!-- Icons -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/d.png" type="image/png">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  
</head>
